@inherits LoginDisplayBase

<AuthorizeView>
	<Authorized>
		<a href="authentication/profile">Hello, @context.User.Identity.Name!</a>
		<button class="nav-link btn btn-link" @onclick="BeginSignOut">Đăng xuất</button>
	</Authorized>
	<NotAuthorized>
		<a href="authentication/register">Đăng ký</a>
		<a href="authentication/login">Đăng nhập</a>
	</NotAuthorized>
</AuthorizeView>
