@inherits NavMenuBase

<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">ThenDelivery</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</li>
		<AuthorizeView Roles="@Const.Role.AdministrationRole">
			<li class="nav-item px-3">
				<NavLink class="nav-link" href="users">
					<span class="oi oi-plus" aria-hidden="true"></span> Users
				</NavLink>
			</li>
		</AuthorizeView>
		<AuthorizeView Roles=@($"{Const.Role.MerchantRole}, {Const.Role.UserRole}, Demo")>
			<li class="nav-item px-3">
				<NavLink class="nav-link" href="merchant-register">
					<span class="oi oi-plus" aria-hidden="true"></span> Merchant register
				</NavLink>
			</li>
		</AuthorizeView>
		<AuthorizeView Roles="@Const.Role.ShipperRole">
			<li class="nav-item px-3">
				<NavLink class="nav-link" href="order-list">
					<span class="oi oi-plus" aria-hidden="true"></span> Order list
				</NavLink>
			</li>
		</AuthorizeView>
	</ul>
</div>
