@inherits NavMenuBase

<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">Then Delivery</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Trang chủ
			</NavLink>
		</li>
      <AuthorizeView Roles="@Const.Role.AdministrationRole">
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="users">
               <span class="oi fas fa-users" aria-hidden="true"></span> Danh sách người dùng
            </NavLink>
         </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="merchants">
               <span class="oi fas fa-store" aria-hidden="true"></span> Danh sách quán
            </NavLink>
         </li>
      </AuthorizeView>
      <AuthorizeView Roles=@($"{Const.Role.MerchantRole}, {Const.Role.UserRole}")>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="merchant-register">
               <span class="oi fas fa-store" aria-hidden="true"></span> Đăng ký quán
            </NavLink>
         </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="order-history">
               <span class="oi fas fa-shopping-basket" aria-hidden="true"></span> Lịch sử đơn hàng
            </NavLink>
         </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="my-merchant">
               <span class="oi fas fa-store-alt" aria-hidden="true"></span> Quán của tôi
            </NavLink>
         </li>
      </AuthorizeView>
		<AuthorizeView Roles="@Const.Role.ShipperRole">
			<li class="nav-item px-3">
				<NavLink class="nav-link" href="order-list">
					<span class="oi fas fa-shopping-cart" aria-hidden="true"></span> Danh sách đơn hàng
				</NavLink>
			</li>
			<li class="nav-item px-3">
				<NavLink class="nav-link" href="my-order-list">
					<span class="oi fas fa-shopping-cart" aria-hidden="true"></span> Đơn hàng của bạn
				</NavLink>
			</li>
		</AuthorizeView>
	</ul>
</div>
