@page "/"
@inherits HomeBase

@if (MerchantList == null)
{
	<p>Đang tải...</p>
}
else
{
	<div class="now-list-restaurant">
		<div class="">
			@foreach (var featuredDish in FeaturedDishList)
			{
				<a href="/featured-dish/@(featuredDish.Id)" target="_blank" class="category-item-link">
					<span class="category-item">@featuredDish.Name</span>
				</a>
			}
		</div>
		<div class="list-restaurant">
			@foreach (var merchant in MerchantList)
			{
				<MerchantCard MerchantModel="merchant" />
			}
		</div>
	</div>
}
