@page "/order-list"
@inherits OrderListBase

@if(OrderList is null)
{
	<p>Loading...</p>
}
else
{
	<div class="list-group">
		@foreach (var order in OrderList)
		{
			<a href="#" class="list-group-item list-group-item-action active">
			   <div class="d-flex w-100 justify-content-between">
			      <h5 class="mb-1">@order.OrderItemList[0].OrderProduct.Merchant.Name</h5>
			      <small>@TimeRange.DaysBetween(DateTime.Now, order.DeliveryDateTime) days ago</small>
			   </div>
			   <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			   <small>Donec id elit non mi porta.</small>
			</a>
		}
	</div>
}

