@page "/order-history"
@inherits OrderHistoryBase

@if(OrderList is null)
{
	<p>Đang tải...</p>
}
else if(OrderList.Count == 0)
{
	<p>Bạn chưa có đơn hàng nào</p>
}
else
{
	<OrderListCpn OrderList="@OrderList" />
}
