@inherits ProductItemBase

@if(Product != null)
{
<div class="item-restaurant-row">
	<div class="row">
		<div class="col-auto item-restaurant-img">
			<div class="inline">
				<img src="@Product.Image" alt="Cà phê sữa" class="merchant-home-product-image">
			</div>
		</div>
		<div class="col item-restaurant-info">
			<h2 class="item-restaurant-name">@Product.Name</h2>
			<div class="item-restaurant-desc">@Product.Description</div>
			<div class="item-restaurant-total">Đã được đặt<span class="txt-bold">&nbsp;@Product.OrderCount&nbsp;</span>lần</div>
		</div>
		<div class="col-auto item-restaurant-more">
			<div class="row ">
				<div class="col-auto product-price">
					<div class="current-price">
						@Product.UnitPrice.ToString("N0")<span style="font-weight: 400;position: relative;top: -9px;font-size: 10px;right: 0;">đ</span>
					</div>
				</div>
				<div class="col-auto adding-food-cart txt-right">
					<button class="btn btn-sm btn-danger btn-add-product"
							  @onclick="async () => await HandleAddProductOrder(Product)">
						+
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
}
