@inherits UserListBase

@if(UserList is null)
{
	<p>Loading...</p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Họ tên</th>
				<th>Đại chỉ email</th>
				<th>Số điện thoại</th>
				<th>Sinh nhật</th>
				<th>Quyền</th>
				@*<th></th>
				<th></th>*@
			</tr>
		</thead>
		<tbody>
			@foreach (var userItem in UserList)
			{
				<UserLine UserItem="userItem"
							 OnEdit="HandleOnEditUser"
							 OnDelete="HandleOnDeleteUser" />
			}
		</tbody>
	</table>
}
