@inherits UserListBase

@if(UserList is null)
{
	<p>Đang tải...</p>
}
else
{
	<table class="table table-bordered">
		<thead class="thead-dark">
			<tr>
				<th>Họ tên</th>
				<th>Địa chỉ email</th>
				<th>Số điện thoại</th>
				<th>Sinh nhật</th>
				<th>Quyền</th>
				@*<th></th>
				<th></th>*@
			</tr>
		</thead>
		<tbody>
			@foreach (var userItem in UserList)
			{
				<UserLine UserItem="userItem"
							 OnEdit="HandleOnEditUser"
							 OnDelete="HandleOnDeleteUser" />
			}
		</tbody>
	</table>
}
