.row-item {
	padding-bottom: 12px
}

.font-small{
	font-size: small;
}

.main-content{
	padding-bottom: 32px;
}
/*================================================================*/
/* Create menu */
.menu-create-group {
	padding: 20px;
	border: 1px solid #e6ecf3;
	margin: 20px 0;
	height: 350px;
	overflow-y: scroll;
}

.register-shop__form-body {
	width: 95%;
}

.menu-create-group__title {
	font-size: 16px;
	font-weight: 600;
	color: #232831;
	margin-top: 0;
}

.menu-create-group__list {
	list-style-type: none;
}

.menu-create-group__list li {
	display: flex;
	align-items: center;
	margin: 5px;
}

.menu-create-group__list li span {
	flex: 1 1;
}

.menu-create-group__item-button{
	float: right;
	margin-left: 5px;
}

.menu-create-group__input--form {
	display: flex;
	width: 100%;
}

.input--full-width, .input--full-width > input {
	width: 100%;
	padding-right: 5px;
}

.register-shop__form-footer {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
}

.register-shop__form-footer-button{
	margin-left: 5px;
}
/* End create menu */
/*=======================================================*/
/* Add product */

.register-shop__no-result {
	margin: 100px 100px;
	text-align: center;
}

img {
	border-style: none;
}

.add-product__form-title{
	position: relative;
}

.add-product__form-title-button {
	position: absolute;
	top: 0;
	right: 0;
}

.add-product__form-footer {
	display: flex;
	justify-content: flex-end;
}

.add-product__form-footer-button {
	margin-left: 5px;
}

.menu-add-item__body {
	padding: 20px 0;
}

.table-container {
	background-color: #fff;
	border: 1px solid #e6ecf3;
	width: 100%;
	border-collapse: collapse;
}

.table-container__head {
	font-size: 16px;
	color: #696f7b;
	border-bottom: 1px solid #e6ecf3;
	display: table;
	width: 100%;
	table-layout: fixed;
	width: calc(100% - 10px);
}

.table-container__body {
	display: block;
	height: 250px;
	overflow-y: scroll;
}

.table-container__head th {
	padding: 10px 20px;
	font-weight: 500;
	text-align: left;
}

.table-container__row:nth-child(odd) {
	background-color: #f6f9fe;
}

.table-container__row {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-bottom: 1px solid #e6ecf3;
}

.table-container__row td {
	padding: 10px 20px;
}

/* End add product */

/* Product components */
.now-list-restaurant {
	padding: 13px 40px 10px;
	border: 1px solid #d7d7d7;
	background-color: #fff;
	border-radius: 6px;
	margin-bottom: 20px;
	position: relative;
}

	.now-list-restaurant .title-wrapper {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.now-list-restaurant .title {
		font-size: 16px;
		font-weight: 700;
	}

.view-all-deal {
	font-size: 14px;
	font-weight: 400;
	color: #0288d1;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	float: right;
}

.now-list-restaurant .list-restaurant {
	margin: 0 -8px;
	position: relative;
}

.now-list-restaurant .item-restaurant {
	padding: 8px;
	width: 33.33333%;
	float: left;
}

.now-list-restaurant .item-content {
	cursor: pointer;
	border-radius: 6px;
	background-color: #fff;
	position: relative;
	display: block;
}

.main-right-home .now-list-restaurant .img-restaurant {
	height: 116px;
}

.now-list-restaurant .img-restaurant {
	position: relative;
	border-radius: 6px 6px 0 0;
	overflow: hidden;
	height: 137px;
	background: #eaeaea;
}

.now-list-restaurant .info-restaurant {
	border: 1px solid #d7d7d7;
	border-radius: 0 0 6px 6px;
	height: 84px;
}

.now-list-restaurant .info-basic-res {
	padding: 5px 8px;
	border-bottom: 1px solid #ebebeb;
}

.now-list-restaurant .info-restaurant .name-res {
	font-size: 14px;
	font-weight: 700;
	color: #252525;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 1px;
	padding-top: 5px;
}

.now-list-restaurant .info-restaurant .address-res {
	font-size: 12px;
	color: #959595;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.opentime-status {
	position: absolute;
	top: -2px;
	left: -2px;
	z-index: 1;
}

	.opentime-status .stt {
		border-radius: 50%;
		cursor: pointer;
		width: 15px;
		height: 15px;
		display: block;
		position: relative;
		z-index: 2;
	}
/* End product components */

/* Merchant Home*/
.now-detail-restaurant {
	background-color: #fff;
	padding: 20px 0;
}

	.now-detail-restaurant .container, .container-fluid {
		margin-right: auto;
		margin-left: auto;
		padding-right: 10px;
		padding-left: 10px;
	}

	.now-detail-restaurant .detail-restaurant-img {
		width: 350px;
		height: 225px;
		position: relative;
		float: left;
	}

	.now-detail-restaurant .detail-restaurant-info {
		color: #252525;
		float: right;
		width: 645px;
		padding-bottom: 15px;
	}

	.now-detail-restaurant .detail-restaurant-img img {
		width: 100%;
		height: 100%;
	}

img {
	vertical-align: middle;
	border-style: none;
}

.now-detail-restaurant .kind-restaurant {
	font-size: 11px;
	color: #959595;
	text-transform: uppercase;
	display: -ms-flexbox;
	display: flex;
}

.now-detail-restaurant .name-restaurant {
	font-size: 22px;
	color: #464646;
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 4px;
	line-height: 33px;
}

.now-detail-restaurant .address-restaurant {
	font-size: 13px;
	margin-bottom: 2px;
}

.now-detail-restaurant .status-restaurant {
	margin-bottom: 6px;
}

.now-detail-restaurant .cost-restaurant {
	color: #959595;
	font-size: 15px;
}

.now-detail-restaurant .share-social {
	width: 100%;
	height: auto;
	margin-top: 10px;
}

.now-detail-restaurant .utility-restaurant {
	border-top: 1px solid #ebebeb;
}

.now-detail-restaurant .breadcrumb {
	padding-left: 0;
	margin-bottom: 18px;
	list-style: none;
	overflow: hidden;
	margin-top: -2px;
}

	.now-detail-restaurant .breadcrumb .breadcrumb-item {
		float: left;
		position: relative;
		padding-right: 4px;
	}

	.now-detail-restaurant .breadcrumb .breadcrumb-link {
		font-size: 13px;
		color: #187caa;
	}

.now-detail-restaurant .kind-restaurant span {
	margin: auto 0;
}

.now-detail-restaurant .opentime-status {
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
	z-index: 1;
}

	.now-detail-restaurant .opentime-status .stt {
		width: inherit;
		height: inherit;
		vertical-align: middle;
		display: inline-block;
		background-color: transparent;
	}

.opentime-status .offline {
	background-color: #6d6f71;
	color: #6d6f71;
}

.opentime-status .stt {
	border-radius: 50%;
	cursor: pointer;
	width: 15px;
	height: 15px;
	display: block;
	position: relative;
	z-index: 2;
}

.now-detail-restaurant .cost-restaurant .fas {
	text-align: center;
	font-size: 8px;
	width: 16px;
	height: 16px;
	border: 1px solid;
	border-radius: 50%;
	line-height: 15px;
	vertical-align: top;
	margin-top: 3px;
	margin-right: 3px;
}

.now-detail-restaurant .link-merchant {
	margin-bottom: 8px;
}

.now-detail-restaurant .link-merchant {
	color: #fff;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #525252;
	border-radius: 3px;
	padding: 9px 10px 9px 40px;
	position: relative;
	float: right;
}

.share-social-box {
	display: inline-block;
}

.then-detail-body-menu{
	padding: 0 30px;
	padding-top: 20px;
}

.product-container{
	padding-top: 10px;
}

.product-list .list-group-item{
	border: none !important;
}
/* End Merchant Home */

/* add topping */

.delete-topping {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

/* end add topping */

/* product item */

.btn-add-product{
	width: 30px;
	height: 30px
}

.btn-close-popup {
	position: absolute;
	right: 2px;
	top: 0;
	color: black;
	cursor: pointer
}

.btn-change-quantity{
	width: 24px;
}

.quantity-label {
	width: 25.84px;
	height: 25.84px;
	border-radius: 3px;
	border: 1px solid darkgrey;
	display: inline-block;
	align-items: center;
}

/* end product item */

/* ordered list */

.ordered-container{
	background-color: white;
	font-size: smaller;
	padding: 10px;
}

.ordered-header {
	text-align: right;
}

.ordered-list{

}

.ordered_item{

}

.ordered-summary{

}

.ordered-total{

}

.ordered-confirm-order{
	padding-top: 10px;
}

.btn-confirm-order{
	padding: 5px;
	width: 100%;
	display: block;
}

.btn-change-quantity-order {
	color: #329900;
	border: 0;
	background: transparent;
	padding: 0;
}

.input-note-order{
	border: none;
	width: 100%;
}

.quantity-label-order {
	font-size: 12px;
	color: #cf2127;
	text-align: center;
	font-weight: 700;
	display: inline-block;
	min-width: 18px;
}

/* end ordered list*/

/* popup confirm order */

.btn-submit-confirm-order{
	width: 100%;
}

.confirm-order-item {
	padding: 0;
}

/* end popup confirm order*/

/* popup class */

.shipping-info-address {
	padding: 20px 0;
}

.shipping-info-edit-popup {
	max-width: 900px;
}

.shipping-info-address-item{
	border-bottom: 1px solid gray;
}

.confirm-order-popup {
	max-width: 700px;
}

/* end popup class */